
singularity {
  enabled = true
  autoMounts = true
}

process {
  withLabel: 'bcftools' { container = 'bcftools.1.19' }
  withLabel: 'samtools' { container = 'samtools.1.9' }
  withLabel: 'plink'    { container = 'plink.1.9' }
  withLabel: 'penncnv'  { container = 'penncnv.1.0.5' }
  withLabel: 'quantisnp'{ container = 'quantisnp.19.10.2023' }
  withLabel: 'rgada'    { container = 'rgada.19.10.2023' }
  withLabel: 'rocker'   { container = 'rocker/tidyverse:latest' }
  withLabel: 'cnvr'     { container = 'cnvr.0.1.0' }
}

params {
  // Tools
  tools = 'penncnv,quantisnp'

  // Annotations files
  refgene  = null
  refexon  = null
  anno     = null
  intervals= null
  fasta    = null

  // Selection files
  snplist = null
  known_sites = null
  genelist = null
  bandlist = null
  exclude_regions = null

  // Chunk snplist
  chunk    = 10000

  // Extract columns
  name_col = "SNP Name"
  baf_col  = "bAllele Freq"
  lrr_col  = "Log R Ratio Illumina"
  a1_col   = "Allele1 - Top"
  a2_col   = "Allele2 - Top"

  // Optional steps
  adjust   = true
  filter   = true
  clean    = true
  report   = true
  consensus= true
  test     = true
  roh      = true
  export   = true
  heatmap  = true
  scatter  = true

  // gcm: cal_gc_snp
  backgroundgc = 0.42

  // adjust: genomic_wave
  distance = 1000000

  // filter: filter_cnv
  numsnp   = 50
  maxnumsnp= 1000000
  length   = 25000
  maxlength= 50000000
  confidence = [
    penncnv   : 50,
    quantisnp : 250,
    rgada     : 0.25
  ]
  maxconfidence= [
    penncnv   : 10000,
    quantisnp : 10000,
    rgada     : 1
  ]

  // clean: clean_cnv
  fraction = 0.5

  // plot: visualize_cnv
  format    = 'bed,tab'
  n_samples = 10
  n_genes   = 10

  // Quantisnp
  qunat_ratios = null
  quant_params = null

  lsetting = 2000000
  emiters  = 10

  // RGada
  t_statistic     = 5
  a_alpha         = 0.8

  // Plink
  window = 50

  // Tests
  onesided = false
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }

  test {
    params {
      cohorts = "input/cohorts_info.csv"
      tools    = "penncnv,quantisnp,rgada"
    }
  }

  test_penncnv {
    params {
      cohorts = "input/cohorts_info.csv"
      tools = "penncnv"
    }
  }

  test_quantisnp {
    params {
      cohorts  = "input/cohorts_info.csv"
      adjust   = false
      tools    = "quantisnp"
    }
  }

  test_rgada {
    params {
      cohorts  = "input/cohorts_info.csv"
      adjust   = false
      tools    = "rgada"
    }
  }

}
