
singularity {
  enabled = true
  autoMounts = true
}

process {
  withLabel: 'bcftools' { container = 'bcftools.1.19' }
  withLabel: 'penncnv'  { container = 'penncnv' }
}

params {
  type     = 'cnv,loh'
  adjust   = true
  qclrrsd  = 0.35
  qcnumcnv = 500
  fraction = 0.2
  numsnp   = 10
  length   = '50k'
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
}
