
singularity {
  enabled = true
  autoMounts = true
}

process {
  withLabel: 'bcftools' { container = 'bcftools.1.19' }
  withLabel: 'plink'    { container = 'plink.1.9' }
  withLabel: 'penncnv'  { container = 'penncnv' }
  withLabel: 'quantisnp'{ container = 'quantisnp.19.10.2023' }
  withLabel: 'rgada'    { container = 'rgada.19.10.2023' }
  withLabel: 'cnvr'     { container = 'cnvr.0.1.0' }
}

params {
  tools = 'penncnv,quantisnp'
  type     = 'cnv,loh'
  refgene  = null
  refexon  = null
  anno     = null
  genelist = null
  chunk    = 3000

  // Extract columns
  name_col = 1
  baf_col  = 15
  lrr_col  = 16
  a1_col   = 7
  a2_col   = 8

  // Optional steps
  adjust   = true
  filter   = true
  exclude  = true
  clean    = true
  report   = true
  consensus= true
  test     = true
  export   = true
  heatmap  = true
  scatter  = true

  // gcm: cal_gc_snp
  numwindow = 100
  backgroundgc = 0.42

  // adjust: genomic_wave
  distance = 1000000

  // filter: filter_cnv
  numsnp   = 10
  maxnumsnp= 1000000
  length   = 50000
  maxlength= 5000000
  confidence = [
    penncnv   : 1,
    quantisnp : 1,
    rgada     : 0.001
  ]
  maxconfidence= [
    penncnv   : 10000,
    quantisnp : 10000,
    rgada     : 10000
  ]

  // clean: clean_cnv
  fraction = 0.2

  // plot: visualize_cnv
  format    = 'bed,tab'
  flank     = 1000
  n_samples = 10
  n_genes   = 10

  // Quantisnp
  qunat_ratios = null
  quant_params = null

  lsetting = 2000000
  emiters  = 10
  genotype = false
  doXcorrect = false

  // RGada
  t_statistic  = 4
  a_alpha = 0.8
  min_seg_length = 100

  // Plink
  window = 50

  // CNVR
  overlap = 0.3

  // Tests
  onesided = false
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }

  test {
    params {
      cohorts = "input/cohorts_info.csv"
      genelist= "input/genelist.csv"
      adjust   = true
      merge    = true
      genotype = true
      tools    = "penncnv,quantisnp,plink"
      type     = "cnv,loh,roh"
      heatmap  = false
    }
  }

  test_penncnv {
    params {
      cohorts = "input/cohorts_info.csv"
      genelist= "input/genelist.csv"
      tools = "penncnv"
    }
  }

  test_quantisnp {
    params {
      cohorts  = "input/cohorts_info.csv"
      genelist = "input/genelist.csv"
      adjust   = false
      merge    = true
      tools    = "quantisnp"
    }
  }

  test_rgada {
    params {
      cohorts  = "input/cohorts_info.csv"
      genelist = "input/genelist.csv"
      adjust   = false
      merge    = true
      tools    = "rgada"
      type     = "cnv"
    }
  }

  test_roh {
    params {
      cohorts  = "input/cohorts_info.csv"
      genelist = "input/genelist.csv"
      genotype = true
      tools    = "plink"
      type     = "roh"
    }
  }

  test_family {
    params {
      cohorts  = "input/cohorts_info_family.csv"
      genelist = "input/genelist_family.csv"
      snplist  = "input/family/snp_list_family.txt"
      extract   = false
      geneotype= false
      adjust   = false
      tools    = "penncnv"
      type     = "cnv"
    }
  }
}
