// Cluster: Hard coded resource configurations to run on slurm cluster
// Date: 14/02/2024
// Author: Mahmoud Ahmed <mahmoud.ahmed@icr.ac.uk>

process {
    withLabel: simple {
        cpus        = 2
        queue       = 'compute'
        executor    = 'slurm'
        time        = '4h'
    }

    withLabel: heavy {
        cpus        = 4
        queue       = 'compute'
        executor    = 'slurm'
        time        = '4h'
    }
    
    withLabel: max {
        cpus        = 8
        queue       = 'compute'
        executor    = 'slurm'
        time        = '16h'
    }
}